<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href routerLink="/">FireEvents</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active"  *ngIf="authService.isAuth()">
        <a class="nav-link" href routerLink="/event-list">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item" *ngIf="authService.isAuth()">
        <a class="nav-link" href routerLink="/add-event">New Event</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
    <ul class="navbar-nav">
      <li class="nav-item active" *ngIf="!authService.isAuth()">
        <a class="nav-link" href (click)="authService.login($event)">Login</a>
      </li>
      <li class="nav-item active" *ngIf="authService.isAuth()">
        <a class="nav-link" href (click)="authService.logout($event)">Logout</a>
      </li>
    </ul>
  </div>
</nav>
